<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
		<link rel="stylesheet" href="stylegray.css" type="text/css">
		<!-- ATTN!! change stylegray.css to whichever stylesheet you want to use, 
		styleblue.css, stylegreen.css, styletan.css or print.css -->
		
		<title>Jan Dougherty | Web Design &amp; Development</title>
		
<!--[if lte IE 7]>
<style type="text/css">
#header {padding-bottom: 20px;}
#skills {padding-bottom: 20px;
</style>
<![endif]-->

	</head>
	<body>
		
	<div id="wrapper">
		
		<div id="header">
			
			<div id="title">
				<h1>Jan Dougherty</h1>
				<h2>Web Design &amp; Development</h2>
			</div><!-- end title -->
			
			<div id="contact">
				
				<table summary="Contact Info">
					<tr>
						<td>Twitter</td>
						<td> | </td>
						<td><a href="http://twitter.com/jandougherty">@jandougherty</a></td>
					</tr>
					<tr>
						<td>Website</td>
						<td> | </td>
						<td><a href="http://yoursite.com">My Portfolio</a></td>
					</tr>
					<tr>
						<td>Email</td>
						<td> | </td>
						<td><a href="mailto:jan@janswebdev.com">jan@janswebdev.com</a></td>
					</tr>
					<tr>
						<td>Phone</td>
						<td> | </td>
						<td>(555)555-5555</td>
					</tr>
				</table>
								
			</div><!-- end contact -->
			
		</div><!-- end header -->
		
		<div id="background">
			<h3>Background</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse congue ullamcorper ipsum, at laoreet justo vestibulum vel. Nam quis tortor id nibh suscipit dignissim. Suspendisse cursus fringilla varius. Etiam et augue enim, id commodo metus. Maecenas fringilla odio et leo tincidunt mattis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ac velit tortor, et eleifend velit.</p>
		</div><!-- end bio -->
		
		<div id="experience">
			<h3>Experience</h3>
			
			<div class="exp">
				<h4>Business Name</h4>
				<h5>Job Title</h5>
				<p class="year">2000-2005</p>
				<p class="description">Nunc blandit, justo ut pulvinar tempor, purus sapien condimentum lorem, a egestas ipsum dui in turpis. Vestibulum odio lacus, aliquet non laoreet eu, euismod eu ipsum. Integer in justo a magna mattis ullamcorper et sit amet justo. Sed non est neque, sit amet gravida est. Vivamus vestibulum tortor vitae metus consequat luctus.</p>
			</div>
			
			<div class="exp">
				<h4>Business Name</h4>
				<h5>Job Title</h5>
				<p class="year">2000-2005</p>
				<p class="description">Nunc blandit, justo ut pulvinar tempor, purus sapien condimentum lorem, a egestas ipsum dui in turpis. Vestibulum odio lacus, aliquet non laoreet eu, euismod eu ipsum. Integer in justo a magna mattis ullamcorper et sit amet justo. Sed non est neque, sit amet gravida est. Vivamus vestibulum tortor vitae metus consequat luctus.</p>
			</div>
			
			<div class="exp">
				<h4>Business Name</h4>
				<h5>Job Title</h5>
				<p class="year">2000-2005</p>
				<p class="description">Nunc blandit, justo ut pulvinar tempor, purus sapien condimentum lorem, a egestas ipsum dui in turpis. Vestibulum odio lacus, aliquet non laoreet eu, euismod eu ipsum. Integer in justo a magna mattis ullamcorper et sit amet justo. Sed non est neque, sit amet gravida est. Vivamus vestibulum tortor vitae metus consequat luctus.</p>
			</div>
			
			<div class="exp">
				<h4>Business Name</h4>
				<h5>Job Title</h5>
				<p class="year">2000-2005</p>
				<p class="description">Nunc blandit, justo ut pulvinar tempor, purus sapien condimentum lorem, a egestas ipsum dui in turpis. Vestibulum odio lacus, aliquet non laoreet eu, euismod eu ipsum. Integer in justo a magna mattis ullamcorper et sit amet justo. Sed non est neque, sit amet gravida est. Vivamus vestibulum tortor vitae metus consequat luctus.</p>
			</div>
			
		</div><!-- end experience -->
		
		<div id="education">
			<h3>Education</h3>
			
			<div class="exp">
				<h4>College Name | College Location</h4>
				<h5>Major/Minor/Degree Earned</h5>
				<p class="year">2000-2005</p>
				<p class="gpa">3.7 GPA</p>
			</div>
			
			<div class="exp">
				<h4>College Name | College Location</h4>
				<h5>Major/Minor/Degree Earned</h5>
				<p class="year">2000-2005</p>
				<p class="gpa">3.7 GPA</p>
			</div>
			
		</div><!-- end education -->
		
		<div id="skills">
			<h3>Skills</h3>
			
			<ul>
				<li>Photoshop</li>
				<li>Illustrator</li>
				<li>XHTML/HTML/CSS</li>
				<li>Javascript</li>
				<li>jQuery</li>
				<li>Cross Browser Compatability</li>
				<li>PHP</li>
				<li>Flash</li>
				<li>Standards Compliancy</li>
			</ul>
			
		</div><!-- end skills -->
		
		<div id="footer">
			<p>Jan Dougherty | <a href="mailto:jan@janswebdev.com">jan@janswebdev.com</a> | (555)555-5555 | <a href="print.html">Print my Resume</a></p>
		</div><!-- end footer -->
	
	</div><!-- end wrapper -->
	
	</body>
</html>
